<!DOCTYPE html>
<html>
  <head>
    <%# helperのfull_titleメソッドを呼び出 %>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= render 'shared/rails_default' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container">
      <% flash.each do |message_type, message|%>
       <div class="alert alert-<%= message_type %>">
        <%=message%>
       </div>
      <% end %>
      <%= yield %>
      <%= render 'shared/footer' %>
      <%# 環境がdevelopment環境のみでdebug情報を表示 %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
